<!DOCTYPE html>
<html>
	<head>
		<% include head_html %>
	</head>
	<body>
		<div class="wrapper">
			<% if(adminLogin){ %>
				<div class="sidebar" data-color="purple" data-background-color="white" data-image="../assets/img/sidebar-1.jpg">
					<% include admmnu %>
				</div>
				<div id="workArea" class="main-panel">
					<nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
						<div class="container-fluid">
							<button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
							<span class="sr-only">Toggle navigation</span>
							<span class="navbar-toggler-icon icon-bar"></span>
							<span class="navbar-toggler-icon icon-bar"></span>
							<span class="navbar-toggler-icon icon-bar"></span>
							</button>
							<div class="collapse navbar-collapse justify-content-end">
								<ul class="navbar-nav">
									<% include admheader %>
								</ul>
							</div>
						</div>
					</nav>
					<div id="workArea" class="content">
						<div class="container-fluid">
							<div class="col-md-12">
								<h2>Создание задания</h2>
								<!-- ТЕСТ -->
								<div style="display: none;">test</div>
								<!-- ТЕСТ -->
							</div>
							<div class="col-md-12">
								<div class="card">
									<div class="card-body">
										<form name="formTask">
											<div class="col-md-3">

												<div class="form-group">
													<label for="taskTypesList">Тип задач:</label>
													<select name="taskTypesList" id="taskTypesList" class="form-control">
														<% if (taskTypes) { %>
															<% taskTypes.forEach(function(taskTypeRow) { %>
																<% if ( taskTypeRow.ID == 1) { %>
																	<option value="<%= taskTypeRow.ID %>" selected><%= taskTypeRow.Name %></option>
																<% } else { %>
																	<option value="<%= taskTypeRow.ID %>"><%= taskTypeRow.Name %></option>
																<% } %>
															<% }); %>
														<% } %>
													</select>
												</div>

												<div class="form-group">
													<label for="controlTypesList">Тип контроля:</label>
													<select name="controlTypesList" id="controlTypesList" class="form-control">
														<% if (controlTypes) { %>
															<% controlTypes.forEach(function(controlTypeRow) { %>
																<% if ( controlTypeRow.ID == 1) { %>
																	<option value="<%= controlTypeRow.ID %>" selected><%= controlTypeRow.Name %></option>
																<% } else { %>
																	<option value="<%= controlTypeRow.ID %>"><%= controlTypeRow.Name %></option>
																<% } %>
															<% }); %>
														<% } %>
													</select>
												</div>

												<div class="form-group">
													<label for="docTypesList">Вид документа:</label>
													<select name="docTypesList" id="docTypesList" class="form-control">
														<% if (docTypes) { %>
															<% docTypes.forEach(function(docTypeRow) { %>
																<% if ( docTypeRow.ID == 1) { %>
																	<option value="<%= docTypeRow.ID %>" selected><%= docTypeRow.Name %></option>
																<% } else { %>
																	<option value="<%= docTypeRow.ID %>"><%= docTypeRow.Name %></option>
																<% } %>
															<% }); %>
														<% } %>
													</select>
												</div>

												<div class="form-group">
													<label for="docDate">Дата документа:</label>
													<input type="datetime-local" class="form-control" id="docDate" value="<%= new Date().toJSON().slice(0,16) %>" />
												</div>

												<div class="form-group">
													<label for="docInNum">Входящий номер:</label>
													<input type="text" class="form-control" id="docInNum" placeholder="вх ном" />
												</div>

												<div class="form-group">
													<label for="docOutNum">Исходящий номер:</label>
													<input type="text" class="form-control" id="docOutNum" placeholder="исх ном" />
												</div>

												<div class="form-group">
													<label for="docTel">Тел:</label>
													<input type="text" class="form-control" id="docTel" placeholder="тел" />
												</div>

											</div>

											<div class="row">
												<div class="col-6">
													<button class="btn btn-success" id="btnSaveTask" type="button">Создать</button>
												</div>
											</div>

										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="preloader hidden" data-preloader></div>
				<script>
					$(document).ready(function(){
						//GetTaskTypeList();
					});
					/*function GetTaskTypeList(){
						$.ajax({
							url: '/admin/tasktypesJson',
							type: "GET",
							success: function(result){
								$('select#taskTypesList').empty();
								var nTskIDTaskType = $("#taskIDTasktype").data("value"); //???
								$.each(result, function(index) {
									if (result[index].ID == nTskIDTaskType) {
										$('select#taskTypesList').append(
											$('<option selected></option>')
												.val(result[index].ID)
												.html(result[index].Name)
										);
									}
									else {
										$('select#taskTypesList').append(
												$('<option></option>')
												.val(result[index].ID)
												.html(result[index].Name)
										);
									}
								});
							}
						});
					};*/
					$("#btnSaveTask").on('click', function(){
						console.log("new task click");
						var nTaskID = 0;
						nTaskID = $("#taskID").data("value"); //???
						var sURL = "/admin/tasks/new";
						$('[data-preloader]').removeClass('hidden');
 						$('html').css('overflow', 'hidden');
						$.ajax({
							url: sURL,
							type: "POST",
						 	// timeout: 0,
						 	async: true,
							data: {
								taskTypeID: $("select#taskTypesList").val(),
								statusID: 1,
								controlTypeID: $("select#controlTypesList").val(),
								docTypeID: $("select#docTypesList").val(),
								docDate: $("#docDate").val(),
								docInNum: $("#docInNum").val(),
								docOutNum: $("#docOutNum").val(),
								docTel: $("#docTel").val()
							},
							success: function(result){
								console.log("POST create /admin/tasks/new success: result="+result);
							 	window.location.href = '/admin/tasks';
						     	$('[data-preloader]').addClass('hidden');
  								$('html').css('overflow', 'visible');
							},
							error: function(err){
								console.log("POST /admin/tasks/new error:");
								console.log(err);
								setTimeout(function() { window.location.href = '/admin/tasks' }, 1 * 60 * 1000);
							}
						});
					});
					$('#rowsTable').on('click', '.clickable-row', function(task) {
						//???
					  if($(this).hasClass('active')){
							$(this).removeClass('active');
					  } else {
							$(this).addClass('active').siblings().removeClass('active');
					  }
					});
					function readURL(input) {
						//TODO: make import pdf
				    if (input.files && input.files[0]) {
			        var reader = new FileReader();
			        reader.onload = function (e) {
		            $('#taskImage').attr('src', e.target.result);
			        };
			        reader.readAsDataURL(input.files[0]);
				    }
					}
					function GetActualTaskStatus(){
						console.log('GetActualTaskStatus::');
						var nTaskID = $("#taskID").data("value"); //???
						$.ajax({
							url: "/admin/taskGetStatus/"+nTaskID,
							type: "GET",
							success: function(result){
									console.log('GetActualTaskStatus success:');
									console.log(result);
									$("#taskIDStatus").attr('data-value', result[0].IDStatus);
									$("#taskIDStatus").html(result[0].StatusName);
								},
							error: function(err){
								console.log("GET GetActualTaskStatus /admin/taskGetStatus/id error:");
								console.log(err);
							}
						});
					}
					function ClickNewImg(){
						//TODO: make import pdf
						$("input[id='taskImageFile']").click(); //???
					};
					function ClearMsg(msgElement){
						window.setTimeout( function(){
							$(msgElement).html("");
						}, 10000 );
					}
				</script>
			<% } else { %>
				<% include admloginform %>
			<% } %>
		</div>
	</body>
</html>
